{
  "Version": "2012-10-17",
  "Id": "MySNSPolicy",
  "Statement": [
    {
      "Sid": "AllowBudgetsToPublish",
      "Effect": "Allow",
      "Principal": {
        "Service": "budgets.amazonaws.com"
      },
      "Action": "SNS:Publish",
      "Resource": "arn:aws:sns:us-east-1:9999999999:your-topic-name"
    }
  ]
}

